/* Google Fonts available as shown
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.header-container nav ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    padding: 1.5rem 0rem;
}

.header-container nav ul li {
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
}

p {
    font-size: 1.25rem;
}

.flex-break {
    width: 100%;
}
