/* Google Fonts available as shown
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif; */

/* Global Styles */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.content-container{
    padding-left: 5rem;
    padding-right: 5rem;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.header-container nav ul {
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    padding: 1.5rem 0rem;
}

.header-container nav ul li {
    list-style: none;
    margin-left: 1em;
    margin-right: 1em;
}

p {
    font-size: 1.25rem;
}

.flex-break {
    width: 100%;
}

/* Quick Start Guide Page */
.world-generation-instruction, .first-night-instruction {
    display: flex;
    flex-wrap: wrap;
}

.first-night-instruction li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
}

.instruction-paragraph {
    width: 50%;
}

.instruction-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: 0;
}

.instruction-image img {
    height: 25rem;
}
.instruction-image figcaption {
    text-align: center;
}

.closing-paragraph{
    text-align: center;
    font-weight: bold;
}

/* About Page */
#about-content-container {
    display: flex;
    margin-top:5rem;
}

.description-paragraph {
    width: 80%;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.personal-brand-logo {
    width: 26rem;
}

.profile a {
    font-size: 1.5rem;
}
